:host {
    --gold: #D4AF37;
    --white: #FCFAF8;;
    --black: #1A1A1A;

    display: block;
    background: var(--white);
    color: var(--black);
}

.account-wrapper {
    background-color: var(--white);
}

.document-section {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 4rem;
}